.pure-g {
    letter-spacing: 0em;
}

ul#errorList {
    list-style-type: none;
}

ul#errorList li {
    padding-top: 3px;
    padding-bottom: 3px;
    color: gray;
}

ul#errorList li:hover {
    color: black;
}
